
.daimond {
    display: block;
    background-color: blue;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: relative;
    top: 3%;
    left: 50%;
    margin-bottom: 30px;
}
.daimond:before, .daimond:after {
    content: "";
    display: block;
    width: 5px;
    height: 80px;
    transform: rotate(45deg);
    position: absolute;
}
.daimond:before{
    background-color: #999;
    top: 87%;
    left: -430%;
}
.daimond:after {
    background-color: #999;
    top: -822%;
    right: -430%;
}
h1
{
    text-align: center;
    margin: auto;
}
body
{
    background-image: url(../images/2.jpg);
}
#first
{
    border-radius: 0px;
    width: 100%;
    margin: inherit;
    border: 0px;
}
.con-card
{
    width: 1000px;
    margin: 30px auto;
    border-radius: 10px;
    height: 500px;

}
form
{
    float: right;
    width: 50%;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
}
.slide
{
    background-color: rgba(0 ,0 ,0 ,.2);
    float: left;
    width: 50%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.pass
{
    margin-bottom: 40px;
    margin-top: 20px;
}
.slider .indicators .indicator-item.active
{
    background-color: blue;
}
.slider .slides
{
    background-color: transparent;
}
.slider .indicators .indicator-item
{
    width: 10px;
    height: 10px;
}
.slides p
{
    font-size: 20px;
}
.slides  p:before {
    content:"\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}
.slides  p:after {
    content:"\201D";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}
form .row , #first
{
    background-color: transparent;
}
form
{
    background-color: rgba(0 ,0 ,0 ,.4);
}
form
{
    color: white;
}
#first p
{
    margin-left: 17px;
}

