body
{
    font-family: 'Changa', sans-serif;
    background: linear-gradient( rgba(43,49,55, .65), rgba(43,49,55, .45) ), url(../images/2.jpg);
    background-attachment: fixed;
    background-size: cover;

}


.fSec
{
    background-color:rgba(0 ,0 ,0 ,.4);
    width: 1000px;
    margin: 20px auto;
    direction: rtl;
    padding-bottom: 20px;
    box-shadow: 2px 1px 20px 0px #606060;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
}

section
{
    direction: rtl
}
.new
{

    position: relative;
    background-color: #17acaf;
    margin-bottom: 50px;
    color: white;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 2px 1px 20px 0px #606060;
    transition: all .5s ease-in-out;
    top: 0;
    left: 0;
}

.new:hover {
    box-shadow: 3px 3px 0 white, 6px 6px 0 rgb(58, 198, 213);;
    top: -6px;
    left: -6px;

}

.seven {

    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    outline: 0;
}
.seven:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, .6);
    transform: translate(0px, -4px);

}

.mz1
{
    color: #fff;
//background-color: #838282;;
    font-weight:bolder;
    text-shadow: 3px 3px grey;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 104%;
    position: relative;
    top: 16px;
    left: 2%;
    letter-spacing: 3;
    word-spacing: 3px;
    background: rgba(62,115,141,.8);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e2e2e2', GradientType=1 );
    box-shadow: 0px 3px 11px rgba(0, 0, 0, .5);
    margin-top: 10px;
}
.mz1:after, .mz1:before {
    content: "";
    width: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid red;
    position: absolute;
}
.mz1:after {
    border-right: 21px solid #a6a6a6;
    border-left: 0 solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 18px solid transparent;
    top: 100%;
    left: 0%;
}
.mz1:before {
    border-right: 0 solid transparent;
    border-left: 20px solid #a5a7ad;
    border-top: 0 solid transparent;
    border-bottom: 18px solid transparent;
    top: 100%;
    right: 0%;
}
.daimond {
    display: block;
    background-color: #ced0d5;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: relative;
    top: 20%;
    left: -50%;
    margin-bottom: 30px;
}
.daimond:before, .daimond:after {
    content: "";
    display: block;
    width: 5px;
    height: 80px;
    transform: rotate(45deg);
    position: absolute;
}
.daimond:before{
    background-color: #999;
    top: 87%;
    left: -430%;
}
.daimond:after {
    background-color: #999;
    top: -822%;
    right: -430%;
}
.e1
{
    margin-bottom: 5px;
}
.d1
{
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    word-spacing: 1.6;
}
.con
{
    border-radius: 0px;
    background: rgba(0 ,0 ,0 ,.4);
    border: 0px;
    width: 1000px;
    margin: auto;
}
#first
{
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0 ,0 ,0 ,.4);
}

.height
{
    height: 75px;
}
form
{
    width: 1000px;
    margin: auto;
}
select{
    background: transparent;
    color: white;
    border-bottom: 2px solid #4ab1A4;
}
option
{
    color: #000;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
{
    border-bottom: 1px solid #4ab1A4;
    color: white;
}
label
{
    color: white;
}
.input-field .prefix
{
    color: white;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
    border-bottom: 1px solid white;
    color: white;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
{
    color: white;
}
.input-field .prefix.active
{
    color: #4ab1A4;
}
.input-field
{
    height: 55px;
}
#nameErr , #phoneErr , #emailErr , #passwordErr
{
    display: inline-block;
    margin-left: 44px ;
    color: red;
}

.mar_bott
{
    margin-bottom: -15px;
}


.alert-danger
{
    width: 1000px;
    margin: 24px auto 7px;
    background: rgba(0,0,0,.4);
    border: 1px solid #f00;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    color: red;
}

.message
{
    margin: 10px auto 17px;
    padding: 10px;
    border-right: 2px solid cornflowerblue;
    border-left: 2px solid cornflowerblue;
    color: cornflowerblue;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,.4);
    width: 1000px;
}