
.con
{
    height: 59px;
    border: 1px solid gray;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    overflow:  hidden;
    box-sizing: content-box;
    background-color: white;
}

.stage1
{
    height: 101%;
    border-top-left-radius:4px ;
    border-bottom-left-radius: 4px;
    border-right: 1px solid gray;
    width: 49.935%;
    float: left;
    cursor: pointer;
}
body
{
    background:  linear-gradient(
            rgba(43,49,55, .85),
            rgba(43,49,55, .85)
    ),
            url(../images/background.jpg) ;

    /*background-color: #2B3137;*/
    background-attachment: fixed;
}

.stage2
{
    height: 101%;
    border-top-right-radius:4px ;
    border-bottom-right-radius: 4px;
    background-color: #bbb;
    width: 49.93%;
    float: right;
    cursor: pointer;
}
#first , #second
{

    border: 1px solid gray;
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 15px;
    clear: both;
    background-color: white;
}
#second
{
    display: none;
}
.step
{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.ficon
{
    float: left;
}
.input-field .prefix.active
{
    color: blue;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
    border-bottom: 1px solid blue;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
{
    color: blue;
}
#fbuttom , #sbuttom
{
    color: white;
    background: black;
    border-radius: 50%;
    clear: both;
    display: block;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    font-size: 40px;
}
#fbuttom:hover , #sbuttom:hover
{
    background-color: darkgray;
    transition: .3s ease-in-out;
    color: #333333;
    font-size: 40px;
}
select {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 0px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
    border-bottom: 2px solid black;
    outline: 0px;
}
select:active
{
    border-bottom: 2px solid blue;
}
.btn, .btn-large, .btn-small
{
    background-color: black;
    margin: 15px auto 0px;
    display: block;
}
.btn:hover, .btn-large:hover, .btn-small:hover
{
    background-color: darkgray;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus
{
    background-color: darkgray;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown
{
    border-bottom: 1px solid #333;
    -webkit-box-shadow: 0 1px 0 0 #333;
    box-shadow: 0 1px 0 0 #333;
}

#ficon
{
    color: blue;
}

.alert-danger
{
    width: 750px;
    margin: 24px auto 7px;
    background: #ddd;
    border: 1px solid blue;
}

#Engineering
{
    display: none;
}
nav
{
    background-color: #24292E;
}
nav ul
{
    width: 1000px;
    margin: auto;
}
nav ul a
{
    padding: 0px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 24px;
}
nav ul a:hover
 {
     text-decoration: none;
    color: #999;
    background-color: transparent;
    transition: .4s ;

 }
.padding
{
    padding-right: 5px;
}
.or
{
    padding-right: 6px;
    color: #9d9d9d;
}
.logo
{
    padding-top: 7px;
    padding-right: 15px;
}
#track
{
    display: none;
}